/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #d1dedd;
  margin:0 20px;
}
header {
    width:100%;
     margin:20px auto;
    border-bottom: 1px solid #bbc7c7;
    align-items: center; 
    justify-items: center;
}
/* code for the scroll snap application on each section featuring panel/stages  */
main {
    height: 100vh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
	font-family: "Poppins", sans-serif;
}
p {
  font-size: .8em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.7;
  color:#000000;
}
/* Setting up Grid Container as the parent in MAIN. 6 columns by 3.5 rows */
.grid-container {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr); /* 1 half row, then 5 full rows */
  gap: 20px;
  margin:20px auto;
  width:100%;
}
/* .section class is used for the scroll snap code */
.section {
	height: 100vh;
    display: grid; 
  /* Centers content horizontally within the grid item */
    justify-items: center; 
  /* Centers content vertically within the grid item */
    align-items: center; 
	
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
/* CHILD GRID ITEMS FOR SECTION - 6 ITEMS- 3 INTERACTIVE
child divs of section show some visual highlights of path */
/* 1. audio button */
.section-sound-button {
    grid-column: span 1;
    grid-column: 1;
    grid-row-start: 2;
    background-color:none;
    width:80%;
}
/* INTERACTIVE CSS */
/* code for the audio button, this style is just a button */
  .player-container {
    display: grid;
    gap: 10px;
}
.play-pause {
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius:15px;   
   
    cursor: pointer;
    transition: background-color 0.3s;
}
.play-pause:hover {
    background-color: #0056b3;
}
.play-pause.playing {
    background-color: #dc3545; /* Change color when playing */
}
/* 2. title bar */
.section-title {
    grid-column: span 6; 
    background-color:none;
    width:100%;
    font-family: "roboto slab", 'serif';
    text-transform:uppercase;
    font-size: 1.5rem;
} 
/* 3. section blurb with opacity to hold text */
.section-blurb {
    grid-column: 3 /span 2;
    grid-row-start: 2;  
    background-color:rgba(255, 255, 255, 0.7);
    padding:15px; 
    width:100%;
    border-radius:15px;
    align-self: start; /* This line ensures the blurb aligns to the top of its grid cell */
}
/* 4. info dot interaction  */
.section-info-dot {
    grid-column: 1 /span 2;
    grid-row-start: 3;  
    background-color:none;
    width:100%;
    height:100%;
    align-self: start; /* This line ensures the blurb aligns to the top of its grid cell */
}
/* INTERACTIVE CSS *//*INTERACTIVE FEATURE - INFO DOT TRANSFORMS INTO CARD */
.dot-to-card {
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto Mono','sans-serif';
    font-weight: 500;;
}
.inner {
    background-color: rgb(7, 218, 165);
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 17%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
/* Card hover effect */
.inner:hover {
    clip-path: circle(85%);
    background: #007bff;;
}
/* Styling for the span inside .inner -the margin impacts the I */
.inner span {
    float: right;
    color: #000000;
    font-weight: 400;
    transition: color .5s;
    position: relative;
    margin-right: 3%;
    margin-top:6%; 
}
/* When hovering inner, change span color */
.inner:hover span {
    color: rgba(255,255,255,0);
}
/* Heading styling */
.inner h3 {
    color: white;
    text-align:left;
    margin: 0;
}
/* Paragraph styling */
.inner p {
    color: white;
    font-size: .8rem;
    text-align:left;
    line-height: 1.5; /* Adds 1.5 times the font size as line height */
}
/* 5. visual highlight-mini spot image */
.section-round-img {
    grid-column: 2 / span 1;
    grid-row-start: 2;  
  
    background-color:none;
    justify-items: center;
     align-items: center;
    /*justify-self: start; /* Horizontally centers the item within its cell */
    /*align-self: start;   /* Vertically centers the item within its cell */
 }
/* 6. image mile-marker */
.section-mile-marker{
    grid-column: 1 / span 1; /* Places the item in the first column and spans one column */
    grid-row: 4; /* Places the item in the fourth row */
    background-color: #ffffff;
    color: #cc0000;
    width:20px;
    min-height:190px;
    font-family:"roboto mono", 'sans-serif';
    font-size: 1.3rem;
}
/* 7. rectangle button triggers full view panel with more info on topic */
.section-rectangle-expand-panel {
    grid-column-start: 6; 
    grid-row-start: 4;  
    background-color:#22cc99;
    width:100%;
    justify-self: center; /* Horizontally centers the item within its cell */
    align-self: center;   /* Vertically centers the item within its cell */
    border-radius:9px;
    margin-right: 20px;
}
/*INTERACTIVE FEATURE - button expands to full panel */

.button {
  background: transparent;
  border: none;
  padding: .5em .5em;
  color: #000;
  z-index: 2;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  cursor: pointer;
  transition: opacity 0.2s;
  position: relative;
 
  justify-self: end; 
  align-self: end;
}

.img-modal {
  max-width: 70%;
   justify-items: center;
  align-items: center; 
}
.expand-block {
    grid-column-start: 5; 
    grid-row-start: 4;  
    background-color:#22cc99;
    width:100%;
    justify-self: center; /* Horizontally centers the item within its cell */
    align-self: center;   /* Vertically centers the item within its cell */
    border-radius:9px;
}
.expand-panel__modal {
  position: fixed; top:0; left:0; right:0; bottom:0;
  background: #22cc99;
  display: grid; place-items: center;
  pointer-events: none;
  /* animate from the tiny button rect… */
  clip-path: polygon(
    var(--btn-left)  var(--btn-top),
    calc(var(--btn-left) + var(--btn-width))  var(--btn-top),
    calc(var(--btn-left) + var(--btn-width))  calc(var(--btn-top) + var(--btn-height)),
    var(--btn-left)  calc(var(--btn-top) + var(--btn-height))
  );
  transition: clip-path 0.4s cubic-bezier(0,.58,.36,1);
}

.expand-panel__modal.open {
  /* …to full-screen */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  pointer-events: auto;
}

.modal__content {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 0.3s 0.2s, transform 0.6s 0.2s;
}

.expand-panel__modal.open .modal__content {
  opacity: 1;
  transform: translateY(0);
}
/* LAND-END AND 1-9 SECTIONS . EACH CONTAINS A BACKGROUND IMAGE */
/* location - LAND */
.section-1and {
   background-color:gray;
   background-image: url("../images/bikeri-nav.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
/* location - providence */
.section-1 {
  background-color: ivory;
  background-repeat: no-repeat;
  background-image: url("../images/eastbaybikepath-bridge-providence-start.jpg");
  background-position: center center;
  background-size: cover;
}
/* location - e providence */
.section-2 {
  background-color: ivory;
  background-repeat: no-repeat;
  background-image: url("../images/look-back-tracks-providence.jpg");
  background-position: center center;
  background-size: cover;
}
/* location - e providence */
.section-3 {
  background-color: ivory;
  background-repeat: no-repeat;
  background-image: url("../images/e-prov-path-nice.jpg");
  background-position: center center;
  background-size: cover;
}

/* location - riverside A */
.section-4 {
  background-color:ivory;
  background-image: url("../images/pink-cycling-rabbit.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - riverside B */
.section-5 {
  background-color:ivory;
  background-image:url("../images/prov-river-walk-riverside.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - barrington A */
.section-6 {
  background-color:ivory;
  background-image: url("../images/barrington-bridge-north.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - Barrington B */
.section-7 {
  background-color:ivory;
  background-image:url("../images/barrington-bridge-south.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - Warren */
.section-8 {
  background-color:ivory;
  background-image: url("../images/warren-concerts-poster.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - Bristol A */
.section-9 {
  background-color:ivory;
  background-image:url("../images/bristol-phragmites.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - Bristol B */
.section-10 {
  background-color:ivory;
  background-image: url("../images/bristol-marshes.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* location - Bristol C */
.section-11 {
  background-color:ivory;
  background-image:url("../images/railroad-mileagepost-endpath-bristol.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* location - END */
.section-end {
  background-color:gold;
  background-image:none ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}